#formLayout{
	border:0.8px  #333;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom:20px;
	background-color:darkgrey;
	height: auto;
	width: 350px;
	border-radius: 10px;
	margin:auto;
	margin-top: 100px;
}
#loca{
    height: 35px;
	width: 300px;
	text-align:left;
	font-size:18px;
	padding-left: 10px;
}
#location{
    height: 35px;
	width: 300px;
	text-align:left;
	font-size:18px;
	padding-left: 10px;
}
button{
    width:120px;
	height: 40px;
	margin-left: 100px;
	margin-top: 20px;
	background-color:white;
	border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color:black;
	opacity: 0.9;
	border: 1px black;
}
#result{

}